.GameCard {
  color: white;
  font-family: 'Roboto Flex', sans-serif;
  width: 300px;
  border-radius: 10px;
  align-self: center;
  backdrop-filter: blur(8px);
 
  border-style:inset;
  border-color: gray;
  box-shadow:5px 5px 5px #52591f;
  /* margin-top: 20px;
  text-decoration: none; */
  }
  .gamecardcotainer{
    margin: 10px;
  }
  .cardimage{
    height:200px;
    width:100%;
    border-radius: 10px;
  }

  .namegame{
    font-size:large;
    text-align: center;
    color: #52591f;
  }

  .gamecardcotainer:hover {
    background: #282726;
    backdrop-filter: blur(8px);
    width: 310px;
    margin: 5px;
    border-radius: 10px;
  }
  
  .genregame{
    display: block;
    margin-left: 10px;
  }
  .rating{
   text-align: right;
   margin-right: 8px;
}
.btndelete{
height: 20px;
float: left;
margin-left: 30px;
margin-top: 0px;
border-radius: 4px;
background-color: #522e75;
color: white;
}